<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dogwalker">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- (gps) current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".walker.WalkerChattingActivity"></activity>
        <activity android:name=".owner.OwnerBookingCalendarActivity" />
        <activity android:name=".walker.WalkerDogwalkingRecordActivity" />
        <activity
            android:name=".walker.WalkerReplyActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".walker.WalkerReviewManageActivity" />
        <activity android:name=".walker.WalkerCustomerListActivity" />
        <activity android:name=".owner.OwnerBookingReviewActivity" />
        <activity android:name=".owner.OwnerBookingRecordActivity" />
        <activity android:name=".walker.WalkerDogwalkingIngActivity" />
        <activity android:name=".walker.WalkerDogwalkingDoneActivity" />
        <activity android:name=".owner.PaymentDoneActivity" />
        <activity android:name=".owner.dialog.DialogPaymentActivity" /> <!-- 네이버 지도 API -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ue8otq3nfl" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7ziS99FLNbMS8WIS78D3hXl87NsU9qgY" />

        <activity android:name=".GoogleMapActivity" />
        <activity android:name=".NaverMapActivity" /> <!-- <activity -->
        <!-- android:name=".owner.dialog.DialogSelectMydogActivity" -->
        <!-- android:theme="@style/MyTheme.noTitle.Dialog" /> &lt;!&ndash; 카카오 지도 API &ndash;&gt; -->
        <activity android:name=".walker.WalkerStopWatchActivity" />
        <activity
            android:name=".owner.dialog.DialogTimeActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".owner.OwnerWalkerDetailActivity" />
        <activity android:name=".owner.OwnerWalkerlistActivity" />
        <activity android:name=".owner.OwnerAddDogActivity" />
        <activity android:name=".owner.OwnerLiveActivity" />
        <activity android:name=".owner.OwnerChatListActivity" />
        <activity android:name=".owner.OwnerBookingActivity" />
        <activity android:name=".owner.OwnerMypageActivity" />
        <activity android:name=".owner.OwnerJoinActivity" />
        <activity android:name=".owner.OwnerLoginActivity" />
        <activity
            android:name=".walker.WalkPriceActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".walker.WalkableTypeActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".walker.WalkerIntroduceActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".owner.LocationWebViewActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".JoinAgreement02Activity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".JoinAgreement01Activity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".walker.WalkerScheduleActivity" />
        <activity android:name=".walker.WalkerDogwalkingActivity" />
        <activity android:name=".walker.WalkerLoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".walker.WalkerChatListActivity" />
        <activity android:name=".walker.WalkerJoinActivity" />
        <activity android:name=".walker.WalkerMypageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>