<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dogwalker">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- (gps) current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".OwnerWalkerlistActivity"/>
        <activity android:name=".owner.OwnerAddDogActivity" />
        <activity android:name=".owner.OwnerLiveActivity" />
        <activity android:name=".owner.OwnerChatActivity" />
        <activity android:name=".owner.OwnerBookingActivity" />
        <activity android:name=".owner.OwnerMypageActivity" />
        <activity android:name=".owner.OwnerJoinActivity" />
        <activity android:name=".owner.OwnerLoginActivity" />
        <activity
            android:name=".walker.WalkPriceActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".walker.WalkableTypeActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".walker.WalkerIntroduceActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".LocationWebViewActivity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".JoinAgreement02Activity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity
            android:name=".JoinAgreement01Activity"
            android:theme="@style/MyTheme.noTitle.Dialog" />
        <activity android:name=".walker.WalkerScheduleActivity" />
        <activity android:name=".walker.WalkerDogwalkingActivity" />
        <activity android:name=".walker.WalkerLoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".walker.WalkerChatActivity" />
        <activity android:name=".walker.WalkerJoinActivity" />
        <activity android:name=".walker.WalkerMypageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>